[Unit]
Description= ssd1306_stats.py
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /home/dietpi/ssd1306_stats/ssd1306_stats.py
WorkingDirectory=/home/dietpi/ssd1306_stats/
StandardOutput=inherit
StandardError=inherit
User=root

[Install]
WantedBy=multi-user.target
